<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
	<% include navbar %>
        <h2><%= title %></h2>
	<% for (var i = 0; i < friend_list.length; i++) { %>
	    <a href="<%='/'+friend_list[i]._id+'/timeline'%>">
		<%= friend_list[i].name %>
	    </a>
	    <form method='POST' action=''>
                <input type='submit' value='Remove'></input>
            </form>
	<% } %>
    </body>
</html>

