<!DOCTYPE html>
<ul>
    <li><a href='/'>Timeline</a></li>
    <li><a href='/profile'>Profile</a></li>
    <li><a href='/friends'>Friends</a></li>
    <li id='request'>Requests</li>
    <li><a href='/find'>Find</a></li>
    <li><a href='/auth/sign-out'>Sign out</li>
</ul>
