<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
	<a href='/profile'>Cancel</a>
        <form method='POST' action='' enctype='multipart/form-data'>
            <input type='file' name='avatar'></input>
	    <input type='submit' value='Set profile picture' accept="image/*">
	    </input>
        </form>
    </body>
</html>
