<!DOCTYPE html>
<button>New Post</button>
<form method='POST' action='/'>
    <textarea name='post' placeholder="What's on your mind?"
     rows='8' cols='80'></textarea>
    <input type='submit' value='Post'></input>
</form>
