<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
	<% include navbar %>
	<h2><%= title %></h2>
	<p>Name: </p>
	<p>Age: </p>
	<p>Birthday: </p>
	<p>Bio: <p>
	<button>Edit Profile</button>
	<%- include profile_form %>
    </body>
</html>
