<button>Edit profile</button>
<form>
    <input type='text' placeholder='Name/Nickname'></input>
    <label>Age: </label>
    <input type='number' placeholder='18'></input>
    <label>Birthday: </label>
    <input type='date'></input>
    <label>Bio: </label>
    <textarea placeholder="What's your story?" rows='8' cols='40'></textarea>
    <input type='submit' value='Update'></input>
</form>
