<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
	<% include navbar %>
        <h2><%= title %></h2>
	<% for (var i = 0; i < request_list.length; i++ ) { %>
	    <div>
		<% if (isSent) { %>
		    Request sent to: <%= request_list[i].receiver.name %>
		    <form method='POST' action=''>
                        <input type='submit' value='Cancel'></input>
                    </form>
		<% } else { %>
                    Request from: <%= request_list[i].sender.name %>
		    <form method='POST' action=''>
			<input type='submit' value='Accept'></input>
			<input type='submit' value='Reject'></input>
                    </form>
		<% } %>
            </div>
	<% } %>
    </body>
</html>
