<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method='POST' action=''>
        <input type='text' name='username' placeholder='Name'></input>
	<input type='password' name='password' placeholder='Password'></input>
	<input type='submit' value='Sign in'></input>
    </form>
  </body>
</html>

